@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,500;8..144,600&display=swap");
/* font-family: 'Roboto Serif', serif; */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
/* font-family: 'Abril Fatface', cursive; */

:root {
    --text-clr: rgb(235, 97, 120);
    --normal-clr: #202020;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Darker Grotesque", sans-serif;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;

    font-size: 1.4rem;
    font-weight: 800;

    background-color: rgb(255, 236, 240);
}
body::-webkit-scrollbar {
    display: none;
}
